doctype html
html(lang="en")
    head
        title Dashboard
        link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="css/AdminLTE.min.css")
        link(rel="stylesheet" type="text/css" href="css/ionicons.css")
        link(rel="stylesheet" type="text/css" href="AdminLTE-2.4.5/dist/css/skins/skin-blue.min.css")
        link(rel="stylesheet" type="text/css" href="css/jquery.gridster.css")
    body(onload="loadWidget()", class="hold-transition skin-blue sidebar-mini")
        div(class="wrapper")
            header(class="main-header")
                a(href="/dashboard") DashBoard
            aside(class="main-sidebar")
                section(class="sidebar")
                    div(class="user-panel")
                        div(class="pull-left image")
                            img(src=`${displayPick}`, class="img-circle", alt="User Image")
                        div(class="pull-left info")
                            p #{username}
                            a(href="#") Online
                                i(class="fa fa-circle text-success")
                    ul(class="sidebar-menu", data-widget="tree")
                        li(class="header") Services
                        li(class="treeview")
                            a(href="#")
                                i(class="fa fa-twitter")
                                span Twitter
                                span(class="pull-right-container")
                                    i(class="fa fa-angle-left pull-right")
                            ul(class="treeview-menu")
                                li
                                    a(class="btn btn-info", data-toggle="modal", data-target="#modal-twitter") Feed
                        li(class="treeview")
                            a(href="#")
                                i(class="fa fa-twitch")
                                span Twitch
                                span(class="pull-right-container")
                                    i(class="fa fa-angle-left pull-right")
                            ul(class="treeview-menu")
                                li
                                    a(class="btn btn-info", data-toggle="modal", data-target="#modal-twitch") Embed Stream
                        li(class="treeview")
                            a(href="#")
                                i(class="fa fa-github")
                                span Github
                                span(class="pull-right-container")
                                    i(class="fa fa-angle-left pull-right")
                            ul(class="treeview-menu")
                                li
                                    a Feed
                        li(class="treeview")
                            a(href="#")
                                i(class="fa fa-stack-overflow")
                                span StackOverflow
                                span(class="pull-right-container")
                                    i(class="fa fa-angle-left pull-right")
                            ul(class="treeview-menu")
                                li
                                    a Feed
            div(class="content-wrapper")
                section(class="content-header")
                    h1 Page Header
                        small Description
                    ol(class="breadcrumb")
                        li
                            a(href="#") Level
                                i(class="fa fa-dashboard")
                        li(class="active") Here
                section(class="content container-fluid", id="widget-container")
                    div(class="gridster")
                        ul
                    div(class="modal modal-info fade", id="modal-twitter", tabIndex="-1", role="dialog", aria-labelledby="twitter-modal")
                        div(class="modal-dialog" role="document")
                            div(class="modal-content")
                                div(class="modal-header")
                                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                        span(span aria-hidden="true") &times;
                                    h4(class="modal-title") Add an user timeline
                                div(class="modal-body")
                                    form(action="javascript:createTwitterWidget(twitterAccount.value)")
                                        div(class="form-group")
                                            label(for="twitterAccount", class="control-label") @ or user's id:
                                            input(class="form-control", type="text", placeHolder="Twitter", name="twitterAccount", id="twitterAccount")
                                        button(type="submit", class="btn btn-primary btn-block btn-flat", aria-hidden="true") Submit
                    div(class="modal modal-info fade", id="modal-twitch", tabIndex="-1", role="dialog", aria-labelledby="twitch-modal")
                        div(class="modal-dialog" role="document")
                            div(class="modal-content")
                                div(class="modal-header")
                                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                        span(span aria-hidden="true") &times;
                                    h4(class="modal-title") Add an embed stream
                                div(class="modal-body")
                                    form(action="javascript:createTwitchEmbed(twitchChannel.value)")
                                        div(class="form-group")
                                            label(for="twitchChannel", class="control-label") Channel name:
                                            input(class="form-control", type="text", placeHolder="jvtv", name="twitchChannel", id="twitchChannel")
                                        button(type="submit", class="btn btn-primary btn-block btn-flat", aria-hidden="true") Submit

    script(src="https://embed.twitch.tv/embed/v1.js")
    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
    script(src="js/jquery.min.js")
    script(src="js/jquery.gridster.js")
    script(src="AdminLTE-2.4.5/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="AdminLTE-2.4.5/dist/js/adminlte.min.js")

    script.
        function loadWidget() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "http://91.134.141.40:8080/loadWidget", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status == 200) {
                    var json = JSON.parse(xhr.responseText);
                    for (i = 0; i < json.widgets.length; i++) {
                        console.log(json.widgets[i].widgetType);
                        if (json.widgets[i].widgetType === "twitter") {
                            createTwitterWidget(json.widgets[i].config.twitterAccount);
                        } else if (json.widgets[i].widgetType === "twitch") {
                            createTwitchWidget(json.widgets[i].config.channel);
                        }
                    }
                }
            };
            xhr.send();
        };

    script.
        $(function(){ //DOM Ready
            $(".gridster ul").gridster({
                widget_margins: [10, 10],
                widget_base_dimensions: [150, 150],
                helper: 'clone',
                resize: {
                    enabled: true
                }
            });
        });

    script.
        function createTwitterWidget(twitterAccount) {
            var node = document.createElement("LI");

            //- remove button
            var remove = document.createElement("BUTTON");
            remove.type = "button";
            remove.className = "pull-right btn btn-box-tool";
            remove.innerHTML = "<i class='fa fa-time'></i>"
            node.appendChild(remove);

            node.id = "twitter-"+twitterAccount;
            var gridster = $(".gridster ul").gridster().data('gridster');
            twttr.widgets.createTimeline(
                {
                    sourceType: 'profile',
                    screenName: twitterAccount
                }, node, {
                    width: '300',
                    height: '450',
                    chrome: 'noscrollbar',
                    theme: 'dark'
                });
            gridster.add_widget(node, 2, 3);

            //- update user
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://91.134.141.40:8080/saveWidget", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var data = JSON.stringify({"widgetType": "twitter", "id": node.id, "sizeX": 2, "sizeY": 3, "config": {"sourceType": "profile","twitterAccount": twitterAccount}});
            xhr.send(data);
        };

    script.
        function createTwitchEmbed(twitchChannel) {
            var gridster = $(".gridster ul").gridster().data('gridster');
            var node = document.createElement("LI");
            //- remove button
            var remove = document.createElement("BUTTON");
            remove.type = "button";
            remove.className = "pull-right btn btn-box-tool";
            remove.innerHTML = "<i class='fa fa-time'></i>"
            node.appendChild(remove);

            node.id = "embed-" + twitchChannel;
            gridster.add_widget(node, 5, 3);
            new Twitch.Embed(node.id, {
                width: 750,
                height: 460,
                channel: twitchChannel,
                theme: 'dark'
            });

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://91.134.141.40:8080/saveWidget", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var data = JSON.stringify({"widgetType": "twitch", "id": node.id, "sizeX": 5, "sizeY": 3, "config": {"channel": twitchChannel}});
            xhr.send(data);
        };

    script.
        window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
            return t;
        }(document, "script", "twitter-wjs"));